
<div class="all-container">
  @if (selectedPoke) {
    <app-pokemon-thumbnail [pokedata]="selectedPoke"  (open)="openit($event)"  [class]="'pokemon-thumbnail-large'" ></app-pokemon-thumbnail>

  }
  
</div>
<div class="all-container">
    <ng-container *ngFor="let pokemon of poklist | slice:0:limit" >
    
     <app-pokemon-thumbnail [pokedata]="pokemon" (open)="openit($event)" [class]="class"  ></app-pokemon-thumbnail>
    </ng-container>
    <div class="loadmore" (click)="loadMore()" >Load More</div>
    <a name="bottomAnchor"></a>
  </div>